@media (min-width: 800px)
    header
        display: block;
        h1
            float: left;
            display: inline-block;
        nav 
            float: right;
            padding: 0;
            width: auto;

@media screen and (max-width: 600px)
    header 
        display: block;
        padding-left: 0px;
        text-align: center;
        h1 
            font-size: 1.7rem;
            margin-bottom: 0px;
        nav
            li
                a
                    font-size: 14px;
                    text-align: left;
    #hero
        #hero-box
            p
                font-size: 2rem;
            a
                font-size: 1rem;
                padding: 5px;
